body {
    font-family: Arial, sans-serif;
    margin: 0;
    min-height: 100vh;
    text-align: center;

    background-image: url("hiking.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.container {
    background: rgba(255, 255, 255, 0.92);
    width: 500px;
    margin: 40px auto;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 6px 18px rgba(0,0,0,0.2);
}


h1 {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-top: 12px;
    margin-bottom: 5px;
    font-weight: bold;
}


select,
button {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    margin-bottom: 12px;
    border-radius: 8px;
    box-sizing: border-box;
}


button {
    transition: 0.2s ease;
}

button:hover {
    transform: scale(1.05);
    background-color: #ddd;
}


#result {
    margin-top: 20px;
    padding: 20px;
    border-radius: 12px;
    background: white;
    text-align: left;
    white-space: pre-line;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}


#map {
    width: 90%;
    height: 450px;
    margin: 25px auto;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.25);
}